{% set attributes = attrs()
    .setIfExists('id', cssID)
    .addClass(['node_wrapper', class])
    .mergeWith(attributes|default)
%}

<div{{ attributes }}>
    {% for element in elements %}
        {{ element.renderedHtml|raw }}
    {% endfor %}
</div>
